body {
  padding: 0;
  margin: 0;
}

.flexContainer {
  display: flex;
  flex-direction: row;
  background-color: #ffef00;
  font-family: 'IBM Plex Sans', sans-serif;
  height: 100vh;
}

.leftColumn {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  order: 0;
  width: 50vw;
  margin-left: 1em;
}

.rightColumn {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  flex-direction: column;
  order: 1;
  width: 50vw;
  text-align: right;
  margin-right: 1em;
}

.speechBubble {
  height: 200px;
  width: 200px;
  border: black;
  background-color: white;
  float: right;
}

.colContainer {
  display: flex;
  flex-direction: row-reverse;
}

.charImg {
  height: 350px;
  width: 350px;
  background-color: tomato;
}

.buttonDiv {
  position: absolute;
  bottom: 2%;
  margin-left: 42%;
}

.buttonDiv button{
  margin-right: 20px;
  padding: 1em;
  border: 0;
  background: white;
  box-shadow: none;
  border-radius: 10px;
  font-size: 1em;
  font-weight: bold;
  font-family: 'IBM Plex Sans', sans-serif;
}

.rightImg {
  order: 0;
}

